<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
	<!--<link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">-->
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/style_teams.css" th:href="@{/css/style_teams.css}">
	<title>ChGK Fantasy - Teams</title>
</head>

<body>
	<div class = "header-row">
		<header th:insert="blocks/header::header"></header>
	</div>

	<div class="body-middle-area">

		<div class="left-menu">
			<div class="widget">
				<navigate th:insert="blocks/navigation::navigate"></navigate>
			</div>
		</div>

		<div class="main-content">
			<div class="league-container">
				<div class="header">
					<p class="league-name" style="font-size: 20px;">Белорусский Элитарный Клуб "Что? Где? Когда?"</p>
					<p class="team-counter">(1/2 команд)</p>
				</div>
				<div class="teams-container">
					<div class="team">
						<div class="team-header">
							<div class="name-holder"><p style="">My team 1</p></div>
							<div style="display: flex; flex-direction: row;">
								<p>Очки: &ensp;</p>
								<p style="color: green">98 pts</p>
							</div>
							<div class="edit-button"><a href="/editteam">Редактировать</a></div>
						</div>
						<div class="player-icons">
							<div class="player-icon">
								<img class="player-image" src="material/Alexandr-Starokaznikov.webp">
								<p>Александр Староказников</p>
								<p>Price:&ensp;$10k</p>

							</div>
							<div class="player-icon">
								<img class="player-image" src="material/Nikita-Boroda.webp">
								<p>Никита Борода</p>
								<p>Price:&ensp;$20k</p>

							</div>
							<div class="player-icon">
								<img class="player-image" src="material/Denis-Sulavko.webp">
								<p>Денис Сулавко</p>
								<p>Price:&ensp;$20k</p>

							</div>
						</div>
						<div class="teams-icons">
							<div class="team-icon">
								<img class="team-image" src="material/Maria-Potapova.webp">
								<p style="margin-bottom: 0px;">Команда</p>
								<p style="margin-top: 0px;">Марии Потаповой</p>
								<p>Price:&ensp;$40k</p>

							
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>