<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>знатоки</title>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/style_znatok.css"
          th:href="@{/css/style_znatok.css}">
</head>
<body>

<div class="header-row">
    <header th:insert="blocks/header::header"></header>
</div>
<div class="left-menu">
    <div class="widget">
        <navigate th:insert="blocks/navigation::navigate"></navigate>

    </div>
</div>

<div class="switch-team-or-znatok">
    <a href="/znatoks" ><h2>Список знатоков</h2></a>
    <a href="/teamznatoks" ><h2>Список команд знатоков</h2></a>
    <hr>
</div>

<div th:switch="${znatokList}" style="position: relative; margin: -300px 5% auto 15%">
    <h2 th:case="null"> нет игроков</h2>
    <div th:case="*">



        <div class="main-content">
            <div th:each="znatok: ${znatokList}">
                <div class="list">
                    <div class="stats-expert">
                        <div class="leftpart">
                            <div class="photo"><img th:src="${znatok.photo}"></div>
                            <div class="name" th:inline="text" ><p>[[${znatok.surname}]] [[${znatok.name}]]</p></div>
                            <div class=" points" th:inline="text"><p>[[${znatok.power}]]pts</p></div>
                        </div>
                        <div class="price" th:inline="text"><p>$[[${znatok.price}]]</p></div>
                        <div class="add-button" >Добавить</div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>

</body>
</html>