<div th:fragment = "navigate">
    <h3>Навигация</h3>
    <ul>
        <li><a href="/teams"><img src="Materials/left-nav-icons-2.png">
            <div class="nav-row-text">Команды</div>
        </a></li>
        <li><a href="../RatingPage/rating.html"><img src="Materials/left-nav-icons-3.png">
            <div class="nav-row-text">Рейтинг</div>
        </a></li>
        <li><a href="/rules"><img src="Materials/left-nav-icons-4.png">
            <div class="nav-row-text">Правила</div>
        </a></li>
        <li><a href="/statistic"><img src="Materials/left-nav-icons-5.png">
            <div class="nav-row-text">Статистика</div>
        </a></li>
    </ul>
</div>